@import "tailwindcss";


/* Local Fonts (Aquire) */
@font-face {
  font-family: 'Aquire';
  src: url('../assets/fonts/Aquire-BW0ox.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aquire';
  src: url('../assets/fonts/AquireBold-8Ma60.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Aquire';
  src: url('../assets/fonts/AquireLight-YzE0o.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

/* Local fonts (Outfit) */
/* Local Fonts (Outfit) */
@font-face {
  font-family: 'Outfit';
  src: url('../assets/fonts/Outfit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('../assets/fonts/Outfit-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('../assets/fonts/Outfit-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('../assets/fonts/Outfit-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Setting default font (pilih salah satu) */
@layer base {
  html {
    font-family: 'Aquire', sans-serif;
    /* atau kalau mau default pakai Outfit: */
    /* font-family: 'Outfit', sans-serif; */
  }
}
